.imc-0 {
  color: #dc3545; }

.imc-1 {
  color: #dc3844; }

.imc-2 {
  color: #dd3b42; }

.imc-3 {
  color: #dd3e41; }

.imc-4 {
  color: #dd413f; }

.imc-5 {
  color: #de443e; }

.imc-6 {
  color: #de473d; }

.imc-7 {
  color: #df4a3b; }

.imc-8 {
  color: #df4d3a; }

.imc-9 {
  color: #df5039; }

.imc-10 {
  color: #e05337; }

.imc-11 {
  color: #e05636; }

.imc-12 {
  color: #e05934; }

.imc-13 {
  color: #e15c33; }

.imc-14 {
  color: #e15f32; }

.imc-15 {
  color: #e16230; }

.imc-16 {
  color: #e2652f; }

.imc-17 {
  color: #e2682e; }

.imc-18 {
  color: #e26b2c; }

.imc-19 {
  color: #e36e2b; }

.imc-20 {
  color: #e37129; }

.imc-21 {
  color: #e47428; }

.imc-22 {
  color: #e47727; }

.imc-23 {
  color: #e47a25; }

.imc-24 {
  color: #e57d24; }

.imc-25 {
  color: #e58123; }

.imc-26 {
  color: #e58421; }

.imc-27 {
  color: #e68720; }

.imc-28 {
  color: #e68a1e; }

.imc-29 {
  color: #e68d1d; }

.imc-30 {
  color: #e7901c; }

.imc-31 {
  color: #e7931a; }

.imc-32 {
  color: #e89619; }

.imc-33 {
  color: #e89917; }

.imc-34 {
  color: #e89c16; }

.imc-35 {
  color: #e99f15; }

.imc-36 {
  color: #e9a213; }

.imc-37 {
  color: #e9a512; }

.imc-38 {
  color: #eaa811; }

.imc-39 {
  color: #eaab0f; }

.imc-40 {
  color: #eaae0e; }

.imc-41 {
  color: #ebb10c; }

.imc-42 {
  color: #ebb40b; }

.imc-43 {
  color: #ebb70a; }

.imc-44 {
  color: #ecba08; }

.imc-45 {
  color: #ecbd07; }

.imc-46 {
  color: #edc006; }

.imc-47 {
  color: #edc304; }

.imc-48 {
  color: #edc603; }

.imc-49 {
  color: #eec901; }

.imc-50 {
  color: #eecc00; }

.imc-51 {
  color: #eacb01; }

.imc-52 {
  color: #e6cb03; }

.imc-53 {
  color: #e2ca04; }

.imc-54 {
  color: #dec906; }

.imc-55 {
  color: #dac807; }

.imc-56 {
  color: #d6c808; }

.imc-57 {
  color: #d2c70a; }

.imc-58 {
  color: #cec60b; }

.imc-59 {
  color: #cac50c; }

.imc-60 {
  color: #c6c50e; }

.imc-61 {
  color: #c2c40f; }

.imc-62 {
  color: #bec311; }

.imc-63 {
  color: #bbc212; }

.imc-64 {
  color: #b7c213; }

.imc-65 {
  color: #b3c115; }

.imc-66 {
  color: #afc016; }

.imc-67 {
  color: #abbf17; }

.imc-68 {
  color: #a7bf19; }

.imc-69 {
  color: #a3be1a; }

.imc-70 {
  color: #9fbd1c; }

.imc-71 {
  color: #9bbc1d; }

.imc-72 {
  color: #97bc1e; }

.imc-73 {
  color: #93bb20; }

.imc-74 {
  color: #8fba21; }

.imc-75 {
  color: #8bba23; }

.imc-76 {
  color: #87b924; }

.imc-77 {
  color: #83b825; }

.imc-78 {
  color: #7fb727; }

.imc-79 {
  color: #7bb728; }

.imc-80 {
  color: #77b629; }

.imc-81 {
  color: #73b52b; }

.imc-82 {
  color: #6fb42c; }

.imc-83 {
  color: #6bb42e; }

.imc-84 {
  color: #67b32f; }

.imc-85 {
  color: #63b230; }

.imc-86 {
  color: #5fb132; }

.imc-87 {
  color: #5bb133; }

.imc-88 {
  color: #58b034; }

.imc-89 {
  color: #54af36; }

.imc-90 {
  color: #50ae37; }

.imc-91 {
  color: #4cae39; }

.imc-92 {
  color: #48ad3a; }

.imc-93 {
  color: #44ac3b; }

.imc-94 {
  color: #40ab3d; }

.imc-95 {
  color: #3cab3e; }

.imc-96 {
  color: #38aa3f; }

.imc-97 {
  color: #34a941; }

.imc-98 {
  color: #30a842; }

.imc-99 {
  color: #2ca844; }

.imc-100 {
  color: #28a745; }